:root {
  --card_light: #191924;
  --primary: #854ce6;
  --text_primary: white;
  --text_secondary: rgba(255, 255, 255, 0.637);
}
.expContainer {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ExpHeading {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ExpHeading h1 {
  color: var(--text_primary);
}
.ExpHeadingBody {
  width: 71%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text_secondary);
}

.Exp_card {
  width: 80%;
  padding: 1.5rem;
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.589);
  transition: 0.5s transform ease-in-out;
}
.Exp_card:hover {
  border: 2px solid white;
  box-shadow: 1.5px 1.5px 15px rgba(255, 255, 255, 0.705);
  transform: scale(1.02);
}
.card_heading {
  width: 95% !important;
  margin-left: 1rem !important;
}
.CompanyLogo {
  width: 7rem;
  height: 100%;
  border-radius: 0.5rem;
}
.title h5,
h6 {
  color: var(--text_primary);
}
.title p {
  color: var(--text_secondary);
}
.jobDesp {
  text-align: justify;
  color: #fdfdfdd1;
  width: 96.5%;
}
.skillTag {
  text-align: justify;
}
.card_body p {
  margin-left: 1rem;
}
#Skill {
  font-weight: 600;
}

.title {
  line-height: 3rem;
}

.skills {
  color: black;
  background-color: rgb(166, 166, 166);
  border: 1px solid black;
  font-weight: 600;
  border-radius: 30px;
  padding: 3px 9px;
  font-size: 12px;
  margin: 2px;
  cursor: default !important;
}
@media (max-width: 1200px) {
  .title {
    line-height: 1.5rem;
  }
}

@media (max-width: 992px) {
  .ExpHeadingBody {
    width: 100%;
  }
  .Exp_card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .expContainer {
    margin-top: 5rem;
  }
  .CompanyLogo {
    width: 7.7rem;
    height: 100% !important;
  }
  .jobDesp {
    width: 94%;
  }
  .skillTag p {
    padding-left: 1rem;
  }
}

@media (max-width: 500px) {
  .CompanyLogo {
    width: 6rem;
    /* height: 100% !important; */
  }
  /* .col-2 {
    margin: 0px;
    padding: 0px !important;
  }
  .col-10 {
    padding: 0px !important;
  } */
  .title h5 {
    font-size: 1rem;
  }
  .title h6,
  p {
    font-size: 0.8rem;
  }
  .title {
    line-height: 0.5rem;
  }
  .jobDesp {
    margin-left: 0.5rem !important;
  }
  .jobDescTitle {
    margin-left: 0.5rem !important;
  }
  .skillheading {
    margin-left: 0.7rem !important;
  }
  .skillTag {
    padding-left: 1rem !important;
    margin-left: 1.7rem !important;
  }
}

@media (max-width: 450px) {
  .css-1ms7hib-MuiTimelineItem-root::before {
    padding: 0px !important;
  }
  .timeline {
    padding: 6px !important;
  }
}
